{:deps true

 :dev-http {3000 "classpath:public"
            3001 "target/test"}

 :builds
 {:app
  {:target :browser
   :output-dir "target/dev/resources/public/assets/js"
   :asset-path "/assets/js"
   :modules {:main {:init-fn notiv.main/main}}

   :dev
   {:compiler-options {:output-feature-set :es6}}

   :release
   {:output-dir "target/release/resources/public/assets/js"}}

  :devcards
  {:target :browser
   :output-dir "target/devcards/resources/public/assets/devcards/js"
   :asset-path "/assets/devcards/js"
   :modules {:main {:init-fn notiv.devcards/main}}
   :compiler-options {:devcards true
                      :output-feature-set :es-next}
   :js-options {:resolve {"devcards-marked" {:target :npm :require "marked"}
                          "devcards-syntax-highlighter" {:target :npm :require "highlight.js"}}}}

  :test
  {:target :browser-test
   :test-dir "target/test"}}}
